<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>台灣菸捐計算機</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <!-- 區塊一：計算機 -->
        <div class="section section-calculator">
            <h1>台灣菸捐計算機</h1>
            <form method="post">
                <label>請輸入香菸每包增加金額（元）：</label>
                <input type="number" step="0.1" name="increase" required>
                <button type="submit">計算</button>
            </form>

            {% if result %}
                {% if result.error %}
                    <p class="error">{{ result.error }}</p>
                {% else %}
                    <div class="result">
                        <h2>計算結果</h2>
                        <p>香菸年使用量：{{ result.quantity }} 百萬包</p>
                        <p>香菸每包均價：{{ result.price }} 元/包</p>
                        <p>稅收：{{ result.tax }} 億元</p>
        
                    <!-- 顯示隨機圖片 -->
                        <div id="imageContainer" class="random-image-block">
                            <img id="randomImage" src="{{ result.image_url }}" alt="隨機圖片">
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        
        </div>

        <!-- 區塊二：公式 -->
        <div class="section section-formula">
            <img src="{{ url_for('static', filename='pic1.png') }}" alt="公式圖示" class="formula-img">
        </div>
        

        <!-- 區塊三：說明文字 -->
        <div class="section section-info">
            <h2>專案說明</h2>
            <p>團隊正在為菸商倡議篇品相關議題</p>
            <p>故需要多次對菸捐進行計算</p>
            <p>因此開發此網頁加速團隊工作流程</p>
        </div>
    </div>
</body>
</html>
